* {
  box-sizing: border-box; }

body {
  background: linear-gradient(rgba(42, 44, 45, 0.8), rgba(42, 44, 45, 0.8)), url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.main-content {
  padding-left: 0; }

/* HEADER */
.header {
  padding-top: 10px;
  margin-bottom: 15px; }

.subscribe {
  padding-top: 10px;
  padding-left: 65px;
  padding-right: 0px; }

.social {
  text-align: right; }
  .social li {
    padding-left: 0;
    padding-right: 0; }

.main-links ul {
  float: none; }
  .main-links ul li {
    width: 24%;
    text-align: center;
    padding: 0;
    margin-left: 11px;
    height: 35px; }
    .main-links ul li:first-of-type {
      margin-left: 0px; }
    .main-links ul li i {
      padding-left: 10px;
      padding-right: 10px; }
    .main-links ul li a {
      height: 35px;
      padding-top: 7px;
      vertical-align: middle; }

/* CAROUSEL */
#carousel-tony {
  margin-bottom: 50px; }

.carousel img {
  min-width: 100%;
  max-height: 400px;
  overflow: hidden; }

.carousel-indicators {
  bottom: -50px;
  /* ARTICLES */ }

.articles {
  height: 375px; }

.article-containers {
  /* BOARDERS */ }
  .article-containers .thumbnail {
    height: 350px; }
  .article-containers .caption p:first-of-type {
    height: 125px; }
  .article-containers .caption p:nth-of-type(2) {
    text-align: center;
    vertical-align: baseline; }
  .article-containers .caption .btn {
    margin: 0 auto; }

.top-row-left,
.top-row-right,
.bottom-row-center,
.boarders-right-center {
  margin-top: 10px;
  padding-left: 0; }

.top-columns {
  padding: 0; }

.top-row-right {
  margin-right: 10px;
  margin-left: 10px; }

.bottom-row {
  padding: 0; }

.bottom-row-center {
  margin-right: 10px; }

.top-row-left,
.top-row-right,
.bottom-row-center {
  height: 200px; }
  .top-row-left a,
  .top-row-right a,
  .bottom-row-center a {
    display: inline-block;
    width: 100%;
    height: 200px;
    text-decoration: none; }
  .top-row-left p,
  .top-row-right p,
  .bottom-row-center p {
    padding-top: 75px; }

.boarders-right-center {
  height: 410px; }
  .boarders-right-center a {
    display: inline-block;
    width: 100%;
    height: 410px;
    text-decoration: none; }
  .boarders-right-center p {
    padding-top: 150px; }

.boarders {
  /* BOARDS */ }
  .boarders p {
    text-align: center;
    vertical-align: middle; }

.boards {
  margin-top: 35px; }

.board-images {
  padding: 0px;
  /* CONTACT */ }

.contact {
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 20px; }
  .contact p {
    padding-bottom: 20px; }
  .contact ul {
    padding-bottom: 50px; }

.contact-form {
  padding-top: 15px; }
  .contact-form button {
    margin-top: 25px;
    width: 225px;
    height: 40px; }

/* HEADER */
.social-icons li {
  color: white; }

a.btn.btn-social-icons {
  box-shadow: 3px 3px #929091; }

.subscribe {
  text-shadow: 1px 1px 2px #3b3b3b; }
  .subscribe a {
    text-transform: uppercase;
    color: white;
    font-size: 12px; }
  .subscribe i {
    font-size: 4px;
    vertical-align: middle;
    margin-left: 10px; }

.main-links ul li {
  background-color: #B4292E;
  box-shadow: 3px 3px #929091;
  color: white;
  text-transform: uppercase; }
  .main-links ul li a {
    border-radius: 0%;
    color: white; }
    .main-links ul li a:hover {
      color: #B4292E;
      border-radius: none;
      transition-duration: 0.25s; }

/* CAROUSEL */
#carousel-tony {
  border: 7px solid white;
  box-shadow: 3px 3px #929091; }

/* ARTICLES */
.article-containers .caption p {
  overflow: hidden;
  text-overflow: "..."; }
.article-containers .caption .btn {
  color: #B4292E;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #B4292E;
  border-right: 2px solid #B4292E;
  text-transform: uppercase;
  transition-duration: 0.25s; }
  .article-containers .caption .btn:hover {
    color: white;
    background-color: #B4292E; }

/* BOARDERS */
.top-row-left {
  box-shadow: 3px 3px #929091;
  background-image: url("../img/tonyboarder1.jpg");
  background-size: cover;
  border: 4px solid white; }
  .top-row-left:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder1.jpg");
    background-size: cover; }

.top-row-right {
  background-image: url("../img/tonyboarder2.png");
  background-size: cover;
  border: 4px solid white;
  box-shadow: 3px 3px #929091; }
  .top-row-right:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder2.png");
    background-size: cover; }

.bottom-row-center {
  background-position: center;
  border: 4px solid white;
  background-image: url("../img/tonyboarder3.jpg");
  background-size: cover;
  box-shadow: 3px 3px #929091; }
  .bottom-row-center:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder3.jpg");
    background-size: cover;
    background-position: 50% 50%; }

.boarders-right-center {
  border: 4px solid white;
  background-image: url("../img/tonyboarder4.jpg");
  background-size: cover;
  box-shadow: 3px 3px #929091; }
  .boarders-right-center:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder4.jpg");
    background-size: cover; }

.boarders p {
  font-family: Futura;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px; }

.thumbnail {
  box-shadow: 3px 3px #929091; }

/* BOARDS */
.board-images img {
  box-shadow: 3px 3px #929091; }

/* CONTACT */
.contact {
  background-color: white;
  box-shadow: 3px 3px #929091; }

.contact-form button {
  background-color: #B4292E;
  border: none;
  border-radius: 0px;
  color: white;
  text-transform: uppercase; }
.contact-form input,
.contact-form textarea {
  box-shadow: inset 2px 2px #929091; }
.contact-form input[placeholder] {
  text-transform: uppercase; }
.contact-form textarea[placeholder] {
  text-transform: uppercase; }

@media (max-width: 600px) {
  .main-links ul li {
    width: 90%;
    margin-top: 10px;
    margin-left: 5%; }
    .main-links ul li:first-of-type {
      margin-left: 5%; } }

/*# sourceMappingURL=main.css.map */
