* {
  box-sizing: border-box; }

body {
  background: linear-gradient(rgba(42, 44, 45, 0.8), rgba(42, 44, 45, 0.8)), url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.main-content {
  padding-left: 0;
  margin-left: 12.5%; }

/* HEADER */
.header {
  padding-top: 10px;
  margin-bottom: 15px; }

.subscribe {
  padding-top: 10px;
  padding-left: 65px;
  padding-right: 0px; }

.social {
  text-align: right; }
  .social li {
    padding-left: 0;
    padding-right: 0; }

.main-links ul {
  float: none; }
  .main-links ul li {
    width: 24%;
    text-align: center;
    padding: 0;
    margin-left: 11px;
    height: 35px; }
    .main-links ul li:first-of-type {
      margin-left: 0px; }
    .main-links ul li i {
      padding-left: 6px;
      padding-right: 6px; }
    .main-links ul li a {
      height: 35px;
      padding-top: 7px;
      vertical-align: middle; }

/* TONY CAROUSEL */
#carousel-tony {
  margin-bottom: 50px; }

.carousel img {
  min-width: 100%;
  max-height: 335px;
  overflow: hidden; }

.carousel-indicators {
  bottom: -50px; }

/* Article Carousel */
#carousel-articles {
  display: none;
  /* ARTICLES */ }

.articles {
  height: 375px; }

.article-containers {
  max-height: 350px;
  /* BOARDERS */ }
  .article-containers .thumbnail {
    height: 350px; }
  .article-containers .caption p:first-of-type {
    height: 125px; }
  .article-containers .caption p:nth-of-type(2) {
    position: absolute;
    bottom: 5px;
    left: 33%;
    text-align: center;
    vertical-align: baseline; }
  .article-containers .caption .btn {
    margin: 0 auto; }

.top-row-left,
.top-row-right,
.bottom-row-center,
.boarders-right-center {
  margin-top: 10px;
  padding-left: 0; }

.top-columns {
  padding: 0; }

.top-row-right {
  margin-right: 10px;
  margin-left: 10px; }

.bottom-row {
  padding: 0; }

.bottom-row-center {
  margin-right: 10px; }

.top-row-left,
.top-row-right,
.bottom-row-center {
  height: 200px; }
  .top-row-left a,
  .top-row-right a,
  .bottom-row-center a {
    display: inline-block;
    width: 100%;
    height: 200px;
    text-decoration: none; }
  .top-row-left p,
  .top-row-right p,
  .bottom-row-center p {
    padding-top: 75px; }

.boarders-right-center {
  height: 410px; }
  .boarders-right-center a {
    display: inline-block;
    width: 100%;
    height: 410px;
    text-decoration: none; }
  .boarders-right-center p {
    padding-top: 150px; }

.boarders {
  /* BOARDS */ }
  .boarders p {
    text-align: center;
    vertical-align: middle; }

.boards {
  margin-top: 35px; }

.board-images {
  padding: 0px;
  /* CONTACT */ }

.contact {
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 20px; }
  .contact p {
    padding-bottom: 20px; }
  .contact ul {
    padding-bottom: 50px; }

.contact-form {
  padding-top: 15px; }
  .contact-form button {
    margin-top: 25px;
    width: 225px;
    height: 40px; }

/* HEADER */
.social-icons li {
  color: white; }

a.btn.btn-social-icons {
  box-shadow: 3px 3px #929091; }

.subscribe {
  text-shadow: 1px 1px 2px #3b3b3b; }
  .subscribe a {
    text-transform: uppercase;
    color: white;
    font-size: 12px; }
  .subscribe i {
    font-size: 4px;
    vertical-align: middle;
    margin-left: 10px; }

.main-links ul li {
  background-color: #B4292E;
  box-shadow: 3px 3px #929091;
  color: white;
  text-transform: uppercase; }
  .main-links ul li a {
    border-radius: 0px;
    color: white; }
    .main-links ul li a:hover {
      color: #B4292E;
      border-radius: 0px;
      transition-duration: 0.25s; }

/* TONY CAROUSEL */
#carousel-tony {
  border: 7px solid white;
  box-shadow: 3px 3px #929091; }

/* ARTICLE CAROUSEL */
#carousel-articles .caption .btn {
  color: #B4292E;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #B4292E;
  border-right: 2px solid #B4292E;
  text-transform: uppercase;
  transition-duration: 0.25s; }
  #carousel-articles .caption .btn:hover {
    color: white;
    background-color: #B4292E; }

/* ARTICLES */
.article-containers .caption p {
  overflow: hidden;
  text-overflow: "..."; }
.article-containers .caption .btn {
  color: #B4292E;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #B4292E;
  border-right: 2px solid #B4292E;
  text-transform: uppercase;
  transition-duration: 0.25s; }
  .article-containers .caption .btn:hover {
    color: white;
    background-color: #B4292E; }

/* BOARDERS */
.top-row-left {
  box-shadow: 3px 3px #929091;
  background-image: url("../img/tonyboarder1.png");
  background-size: cover;
  border: 4px solid white; }
  .top-row-left:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder1.png");
    background-size: cover; }

.top-row-right {
  background-image: url("../img/tonyboarder2.png");
  background-size: cover;
  border: 4px solid white;
  box-shadow: 3px 3px #929091; }
  .top-row-right:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder2.png");
    background-size: cover; }

.bottom-row-center {
  background-position: center;
  border: 4px solid white;
  background-image: url("../img/tonyboarder3.png");
  background-size: cover;
  box-shadow: 3px 3px #929091; }
  .bottom-row-center:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder3.png");
    background-size: cover;
    background-position: 50% 50%; }

.boarders-right-center {
  border: 4px solid white;
  background-image: url("../img/tonyboarder4.png");
  background-size: cover;
  box-shadow: 3px 3px #929091;
  background-position: 85% 0%; }
  .boarders-right-center:hover {
    background: linear-gradient(rgba(170, 171, 172, 0.6), rgba(170, 171, 172, 0.8)), url("../img/tonyboarder4.png");
    background-size: cover;
    background-position: 85% 0%; }

.boarders p {
  font-family: Futura;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px; }

.thumbnail {
  box-shadow: 3px 3px #929091; }

/* BOARDS */
.board-images img {
  box-shadow: 3px 3px #929091; }

/* CONTACT */
.contact {
  background-color: white;
  box-shadow: 3px 3px #929091; }

.contact-form button {
  background-color: #B4292E;
  border: none;
  border-radius: 0px;
  color: white;
  text-transform: uppercase; }
.contact-form input,
.contact-form textarea {
  box-shadow: inset 2px 2px #929091; }
.contact-form input[placeholder] {
  text-transform: uppercase; }
.contact-form textarea[placeholder] {
  text-transform: uppercase; }
.contact-form span {
  border-radius: none;
  display: block;
  font-size: 13px;
  text-align: center;
  position: absolute;
  background: #B4292E;
  left: 99%;
  top: 52px;
  width: 160px;
  padding: 7px 5px;
  color: #fff;
  margin-right: 2%; }
.contact-form span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #B4292E;
  border-width: 8px;
  margin-top: -8px; }

@media (max-width: 1208px) {
  .subscribe {
    padding-left: 30px; } }
@media (max-width: 1133px) {
  .main-links ul li {
    width: 23%; }
  .main-links ul a {
    padding-left: 0px;
    padding-right: 0px; } }
@media (max-width: 1024px) {
  .main-content {
    margin-left: 12.5%; }

  .main-links ul li {
    margin-left: 16px; }
  .main-links ul .fa-minus {
    padding-left: 4px;
    padding-right: 4px; }

  .subscribe {
    padding-left: 40px; }

  .contact-form span {
    left: 85%; } }
@media (max-width: 816px) {
  .main-links ul li .fa-minus {
    padding-left: 1px;
    padding-right: 1px; } }
@media (max-width: 768px) {
  .container-fluid {
    width: 95%;
    padding-left: 0px; }

  .main-content {
    margin-left: 3%; }

  /* HEADER */
  .subscribe {
    padding-left: 15px; }

  .main-links {
    /* TONY CAROUSEL */ }
    .main-links ul li {
      width: 100%;
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 0px; }

  #carousel-tony {
    margin-top: 20px;
    margin-bottom: 20px; }

  .carousel-indicators {
    display: none; }

  #carousel-tony {
    /* ARTICLES */ }
    #carousel-tony .carousel-inner img {
      min-width: 100%;
      height: 300px;
      overflow: hidden; }

  .articles {
    display: none;
    /* ARTICLE CAROUSEL */ }

  #carousel-articles {
    display: block;
    margin-bottom: 20px;
    max-height: 350px; }
    #carousel-articles a.carousel-control {
      max-height: 350px; }
    #carousel-articles .thumbnail {
      border-radius: 0px;
      box-shadow: none;
      padding: 0px;
      border: none; }
      #carousel-articles .thumbnail .caption {
        min-width: 100%;
        overflow: hidden;
        height: 350px;
        padding: 20px; }
    #carousel-articles .article-containers {
      max-height: 350px; }
    #carousel-articles p.article-text {
      max-height: 125px;
      overflow: hidden;
      margin-bottom: 0; }
    #carousel-articles .read-more {
      position: absolute;
      bottom: 5px;
      left: 40%;
      text-align: center;
      vertical-align: baseline; }

  /* Boarders */
  .bottom-row-center,
  .top-row-right,
  .top-row-left,
  .boarders-right-center {
    margin-left: 2%;
    margin-right: 2%; }

  .boarders-right-center {
    background-position: 50% 50%;
    height: 200px; }
    .boarders-right-center:hover {
      background-position: 50% 50%; }
    .boarders-right-center a {
      height: 200px; }
    .boarders-right-center p {
      padding-top: 75px; }

  /*Boards */
  .boards {
    margin-left: 5%;
    margin-right: 5%; }

  /* Contact */
  .contact {
    margin-left: 2%;
    margin-right: 2%; }

  .contact-form span {
    left: 75%; } }
@media (max-width: 480px) {
  .container-fluid {
    width: 95%;
    padding-left: 15px; }

  .main-content {
    margin-left: 0px; }

  /* Header */
  .subscribe {
    padding-left: 0px; }

  /* TONY CAROUSEL */
  .carousel-inner img {
    max-height: 225px; }

  /* Article Carousel */
  #carousel-articles .read-more {
    left: 37%; }

  /*Boards */
  .boards {
    margin-left: 2%;
    margin-right: 2%; }

  /* Contact */
  .contact h2 {
    text-align: center; }
  .contact .bottom-social-icons {
    text-align: center; }
  .contact .contact-form span {
    top: -50px;
    left: 16%; }
  .contact .contact-form span:after {
    display: none; } }
@media (max-width: 414px) {
  .carousel-inner img {
    max-height: 200px; } }
@media (max-width: 320px) {
  .container-fluid {
    width: 90%; }

  .subscribe {
    padding-top: 5px; }

  .carousel-inner img {
    max-height: 175px; }

  #carousel-articles .thumbnail .caption {
    padding-top: 5px; }
    #carousel-articles .thumbnail .caption h3 {
      margin-top: 10px; }

  #carousel-articles .read-more {
    left: 30%; }

  #contact-us {
    padding: 5px;
    padding-bottom: 10px; }

  .contact p {
    padding-bottom: 5px; }

  ul.bottom-social-icons {
    padding-bottom: 5px; } }

/*# sourceMappingURL=main.css.map */
