/* HEADER */

.header
  padding-top: 10px
  margin-bottom: 15px

.subscribe
  padding-top: 10px
  padding-left: 50px

.social
  text-align: right
  li
    padding-left: 0
    padding-right: 0

.main-links
  ul
    float: none
    margin: 0 auto
    li
      width: 24%
      text-align: center
      padding: 0
      margin-left: 11px
      height: 35px
      &:first-of-type
        margin-left: 0px
      i
        padding-left: 10px
        padding-right: 10px
      a
        height: 35px
        padding-top: 7px
        vertical-align: middle



/* CAROUSEL */

#carousel-tony
  margin-bottom: 15px

.carousel img
  min-width: 100%
  max-height: 400px

  /* ARTICLES */

.articles
  height: 250px

  /* BOARDERS */
.top-row-left,
.top-row-right,
.bottom-row-center,
.boarders-right-center
  margin-top: 10px

  padding-left: 0

.top-columns
  padding: 0

.top-row-right
  margin-right: 10px
  margin-left: 10px

.bottom-row
  padding: 0

.bottom-row-center
  margin-right: 10px

.top-row-left,
.top-row-right,
.bottom-row-center
  height: 200px

.boarders-right-center
  height: 410px


  /* BOARDS */

  /* CONTACT */
