@media (max-width: 1208px)

  .subscribe
    padding-left: 30px

@media (max-width: 1133px)
  .main-links
    ul
      li
        width: 23%
      a
        padding-left: 0px
        padding-right: 0px

@media (max-width: 1024px)

  .main-content
    margin-left: 12.5%

  .main-links
    ul
      li
        margin-left: 16px
      .fa-minus
        padding-left: 4px
        padding-right: 4px

  .subscribe
    padding-left: 40px

@media (max-width: 816px)

  .main-links
    ul
      li
        .fa-minus
          padding-left: 1px
          padding-right: 1px

@media (max-width: 768px)

  .container-fluid
    width: 95%

  .main-content
    margin-left: 3%

  /* HEADER */

  .subscribe
    padding-left: 15px

  .main-links
    ul
      li
        width: 100%
        margin-top: 10px
        margin-left: 0px
        margin-right: 0px

    /* TONY CAROUSEL */

  #carousel-tony
    margin-top: 20px
    margin-bottom: 20px

  .carousel-indicators
    display: none

  #carousel-tony
    .carousel-inner
      img
        min-width: 100%
        height: 300px
        overflow: hidden

    /* ARTICLES */

  .articles
    display: none

    /* ARTICLE CAROUSEL */

  #carousel-articles
    display: block
    margin-bottom: 20px
    max-height: 350px
    a.carousel-control
      max-height: 350px
    .thumbnail
      border-radius: 0px
      box-shadow: none
      padding: 0px
      border: none
      .caption
        min-width: 100%
        overflow: hidden
        height: 350px
        padding: 20px
    .article-containers
      max-height: 350px
    p.article-text
      max-height: 125px
      overflow: hidden
      margin-bottom: 0

    .read-more
      position: absolute
      bottom: 5px
      left: 40%
      text-align: center
      vertical-align: baseline


  /* Boarders */

  .bottom-row-center,
  .top-row-right,
  .top-row-left,
  .boarders-right-center
    margin-left: 2%
    margin-right: 2%

  .boarders-right-center
    background-position: 50% 50%
    height: 200px
    &:hover
      background-position: 50% 50%
    a
      height: 200px
    p
      padding-top: 75px

  /*Boards*/

  .boards
    margin-left: 5%
    margin-right: 5%

  /* Contact*/

  .contact
    margin-left: 2%
    margin-right: 2%

@media (max-width: 500px)

  .main-content
    margin-left: 0px

  /* Header */

  .subscribe
    padding-left: 0px

  /* TONY CAROUSEL*/

  .carousel-inner
    img
      max-height: 325px

  /* Article Carousel*/
  #carousel-articles
    .read-more
      left: 30%

  /*Boards*/

  .boards
    margin-left: 2%
    margin-right: 2%

  /* Contact */
  .contact
    h2
      text-align: center
    .bottom-social-icons
      text-align: center
